{
  "database": {
    "_comment": "MySQL Database only.",
    "host": "localhost",
    "port": "3306",
    "name": "api_db",
    "user": "usr",
    "password": "pwd"
  },
  "ip_filter": ["127.0.0.1", "::1", "192.168"],
  "os_filter": ["Linux", "Mac OS", "Windows"]
}