{
  "database": {
    "_comment": "MySQL Database only.",
    "host": "localhost",
    "port": "3306",
    "name": "api_db",
    "user": "usr",
    "password": "pwd"
  },
  "ip_filter": ["127.0.0.1", "::1", "192.168"],
  "os_filter": ["Linux", "Mac OS", "Windows"],
  "mnb_soap_url": "http://www.mnb.hu/arfolyamok.asmx?wsdl",
  "norris_joke_url": "https://api.icndb.com/jokes/random"
}